body {
    font-family: Arial, sans-serif;
    background-color: #E0FFFF;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #1854b5;
    border-radius: 10px;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .input {
    color: black;
    border: 2px solid #0077ff;
    border-radius: 5px;
    padding: 10px;
    background: #fff;
    width: calc(100% - 20px); /* Ajuste para considerar o padding */
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .input:focus {
    border-color: #0077ff;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
  }
  
  textarea.input {
    min-height: 120px;
    resize: vertical;
  }
  
  button {
    --color: #0077ff;
    font-family: inherit;
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 36px;
    overflow: hidden;
    cursor: pointer;
    font-size: 16px;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 5px;
    position: relative;
    background-color: transparent;
    transition: all 0.3s ease;
  }
  
  button::before {
    content: "";
    position: absolute;
    background: var(--color);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
  }
  
  button:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
  
  button:hover {
    color: white;
  }
  
  #notifications {
    margin-top: 20px;
  }
  
  .notification {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
  }
  .circulo {
    width: 50px; /* largura da div */
    height: 50px; /* altura da div */
    overflow: hidden; /* esconde partes da imagem que ultrapassem a div */
    border-radius: 50%; /* torna a div e a imagem redondas */
    border: 0px solid #000000; /* borda opcional */
    float: left;
}
.circulo img {
    width: 100%; /* garante que a imagem ocupe todo o espaço da div */
    height: auto; /* mantém a proporção da imagem */
    display: block; /* remove espaços em branco abaixo da imagem */
}
input[type="submit"] {
  background-color: #0692c9be;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: 1;
  border-radius: 4px;
  cursor: pointer;
  width: 9%;
}
input[type="submit"]:hover {
  background-color: #64b9db;
  color: black;
  transition: 0.7s;
}